.description {
  // .description__container

  &__container {
    flex: 0 1 auto;
    align-items: center;
    padding: 0px 15px;
  }

  // .description__header

  &__header {
    display: flex;
    flex-direction: column;
    max-width: 664px;
    justify-content: center;
    align-items: center;
    margin: 0px 302px;
    gap: 21px;
  }

  // .description__title

  &__title {
  }

  // .description__text

  &__text {
  }

  // .description__content

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 64px 0px 56px 0px;
    padding: 0;
  }

  // .description__column

  &__column {
    max-width: 412px;
  }

  // .description__action

  &__action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 28px;
    align-items: flex-end;
  }

  // .description__button

  &__button {
  }
}
.column-description {
  // .column-description__image

  &__image {
  }

  // .column-description__title

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 129%;
    text-align: center;
    color: #211f54;
    margin: 39px 0 16px 0;
  }

  // .column-description__text

  &__text {
  }
}

@media (max-width: 1024px) {
  .description {
    &__header {
      margin: 0 auto;
    }
    &__content {
      flex-direction: column;
      align-items: center;
    }
    &__column {
      max-width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1.5rem;
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
    img {
      width: 240px;
    }
  }
  .column-description {
    &__text {
      width: 50%;
    }
  }
}
@media (max-width: 768px) {
  .description {
    &__column {
      max-width: 100%;
      gap: 1rem;
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
    img {
      width: 150px;
    }
  }
}
@media (max-width: 425px) {
  .description {
    img {
      display: none;
    }
    &__column {
      flex-direction: column;
    }
  }
}

@media (max-width: 499px) {
  .description {
    &__action {
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
    }
  }
}
