.call {
  display: flex;
  flex-direction: row;
  column-gap: 17px;
  align-items: center;

  // .call-free-quote__icon

  &__icon {
    padding-top: 7px;
  }

  // .call-free-quote__body

  &__body {
    flex: 1 1 50%;
    gap: 4px;
  }

  // .call-free-quote__title

  &__title {
    font-size: 16px;
    line-height: 112%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #6e7191;
    &_white {
      color: #fff;
      text-align: left;
    }
  }

  // .call-free-quote__phone

  &__phone {
    font-weight: 700;
    font-size: 28px;
    line-height: 129%;
    color: #211f54;
    &_white {
      color: #fff;
    }
    &_blue {
      color: #0075ff;
      font-size: 28px;
      line-height: 129%;
    }
  }
}
