.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #fff;
  // .header__container

  &__container {
    display: flex;
    min-height: 118px;
    align-items: center;
    padding: 0px 39px;
    justify-content: space-between;
  }

  // .header__logo

  &__logo {
    justify-self: flex-start;
  }

  // .header__menu

  &__menu {
    flex: 1 1 auto;
  }
}
.header-menu {
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
  font-size: 18px;
  line-height: 1.6667;
  // .menu__list

  &__list {
    display: flex;
    column-gap: 22px;
  }

  // .menu__item

  &__item {
    &:hover {
      text-decoration: underline;
    }
  }

  // .menu__link

  &__link {
    color: #211f54;
  }
}

@media (max-width: 768px) {
  .header {
    &__container {
      padding: 0;
    }
  }
}
